.list--listWishlist {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
    max-width: 1096px;
    margin: 0 auto;
}
@media screen and (max-width:1024px){
    .list--listWishlist {
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:640px){
    .list--listWishlist {
        padding: 8px;
        grid-template-columns: repeat(2,1fr);
        gap: 14px;
    }
}