:global(.vtex-flex-layout-0-x-flexRow--product-detail-breadcrumb) .caretIcon {
  display: none;
}
.arrow {
  padding: 0 !important;
}
.arrow::before {
  content: "/ ";
  font-size: 10px;
}
.link {
  font-size: 11px;
  line-height: 13px;
  color: #828282;
}
@media screen and(max-width:640px) {
  .link {
    line-height: 25px;
  }
}
.term {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #1C1C24;
}
.link:hover,
.term:hover {
  color: #1C1C24;
}

.homeLink::before {
  content: 'partnerweek80';
}

.homeIcon {
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-detail-breadcrumb) .container {
  text-align: left;
}
