@media screen and (max-width:640px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--prodsum-buy) .buttonDataContainer::before {
    font-size: 16px;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--prodsum-buy) .buttonDataContainer::before {
  content: '\eb31';
  font-family: 'icomoon';
  font-size: 23px;
  color: #fff;
}
:global(.vtex-flex-layout-0-x-flexRowContent--prodsum-buy) .buttonDataContainer:hover::before {
  content: '\eb32';
}
:global(.vtex-flex-layout-0-x-flexRowContent--prodsum-buy) .buttonText {
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--prodsum-buy) :global(.vtex-button):focus,
:global(.vtex-flex-layout-0-x-flexRowContent--prodsum-buy) :global(.vtex-button) {
    border: 0 !important;
    background-color: #009ADE;
    border-radius: 5px;
    padding: 5px 9px 7px;
    width: auto;
    min-height: initial;
}

.buttonDisabledContainer :global(.vtex-button):focus,
.buttonDisabledContainer :global(.vtex-button) {
  background-color: #d3d3d3 !important;
  pointer-events: none;
}

:global(.vtex-flex-layout-0-x-flexRow--product-cart-button) .buttonText {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexRow--product-cart-button) .buttonDataContainer::before {
  content: 'AGREGAR A MI BOLSA';
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
:global(.vtex-flex-layout-0-x-flexRow--mic-product-cart-button) .buttonDataContainer::before {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}
:global(.vtex-flex-layout-0-x-flexRowContent--mic-product-actions) :global(.vtex-flex-layout-0-x-flexRow--product-cart-button) .buttonDataContainer::before {
  color: #fff;
}

